@font-face {
  font-family: "iconfont"; /* Project id 4991488 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1754547171885') format('woff2'),
       url('iconfont.woff?t=1754547171885') format('woff'),
       url('iconfont.ttf?t=1754547171885') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saomiao1:before {
  content: "\e65c";
}

.icon-saomiao:before {
  content: "\e8d4";
}

.icon-duihua:before {
  content: "\e600";
}

.icon-jubao:before {
  content: "\e661";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-xinfangjubao:before {
  content: "\e888";
}

.icon-dianzan:before {
  content: "\e8c3";
}

.icon-bg-chat:before {
  content: "\e641";
}

.icon-fenxiangyifenxiang:before {
  content: "\e60b";
}

.icon-a-shoucang-yishoucang:before {
  content: "\e603";
}

.icon-shoucang-yishoucang:before {
  content: "\e604";
}

.icon-paihang:before {
  content: "\e611";
}

.icon-logo:before {
  content: "\e601";
}

.icon-guanzhuxuanzhong:before {
  content: "\e608";
}

.icon-guanzhu:before {
  content: "\e606";
}

.icon-pingguo:before {
  content: "\e60c";
}

.icon-android:before {
  content: "\e616";
}

.icon-pingguo1:before {
  content: "\e60d";
}

.icon-paihangbang:before {
  content: "\e609";
}

.icon-huanyihuan1:before {
  content: "\e60a";
}

.icon-android1:before {
  content: "\e612";
}

.icon-_rengongzhineng:before {
  content: "\e614";
}

.icon-kaifagongju:before {
  content: "\e60e";
}

.icon-kaifagongju1:before {
  content: "\e60f";
}

.icon-bg-compass:before {
  content: "\e638";
}

.icon-rengongzhinengdanao:before {
  content: "\e610";
}

.icon-read:before {
  content: "\e89e";
}

.icon-read-full:before {
  content: "\e89f";
}

.icon-compass-full:before {
  content: "\e974";
}

.icon-terminal-box-line:before {
  content: "\e776";
}

.icon-terminal-box-fill:before {
  content: "\e777";
}

.icon-keyboard-box-fill:before {
  content: "\e77e";
}

.icon-keyboard-box-line:before {
  content: "\e77f";
}

.icon-a-xianshiping1:before {
  content: "\e7df";
}

.icon-Abstract_xianshiping_display:before {
  content: "\e8be";
}

.icon-guanzhu-copy:before {
  content: "\fc80";
}

